html,body{
	font-size: 18px;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 500;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, footer {
	display: block;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

ul {
  margin-bottom: 0px;
}

p {
  line-height: 20px;
}

.banner img{
	width: 1349px;
	height: 680px;
	top: 0px;
	left: 0px;
	position: absolute;	
}
.logo img{
	height: 50px;
	width: 50px;
	left: 330px;
	top: 25px;
	border-radius: 0px;
	position: absolute;
}
.menu ul{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	width: 642px;
	height: 22px;
	left: 432px;
	top: 36px;
	position: absolute;
}
.menu li{
	overflow: hidden;
}

.menu li a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 18px;
	font-style: normal;
	text-transform: uppercase;
	margin:0 16px;
}
.bt_contact button{
	width: 100px;
	height: 30px;
	left: 938px;
	top: 36px;
	text-align: center;
	background: #009DCE;
	border-radius: 5px;
	display: flex;
    justify-content: center;
    border: none;
    align-items: center;
	position: absolute;
}
.bt_contact button a{
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.slogan{
	position: absolute;
	width: 980px;
	height: 144px;
	left: 140px;
	top: 182px;
}
.slogan h1{
	font-style: normal;
	font-size: 48px;
	line-height: 60px;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 600;
}
.description{
	position: absolute;
	width: 568px;
	height: 114px;
	left: 352px;
	top: 300px;
}
.description p{
	font-style: normal;
	font-size: 25px;
	line-height:30px;
	text-align: center;
	color: #FFFFFF;
}

.about{
	position: absolute;
	left: 400px;
	top: 480px;
}

.about_2{
	position: absolute;
	width: 610px;
	height: 80px;
	left: 440px;
	top: 550px;
}

.i-down {
	position: absolute;
	width: 39px;
	height: 19.5px;
	left: 680px;
	top: 636px;
	color: #009DCE;
}

.section-heading h2{
	width: 367px;
	top: 710px;
	left: 500px;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: #009DCE;
	position: absolute;
}

.sm-box{
	height: 3px;
	width: 100px;
	left: 630px;
	top: 760px;
	background: #009DCE;
	position: absolute;
}

.section-heading span{
	width: 560px;
    height: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #9A9A9A;
    top: 775px;
    left: 400px;
	position: absolute;
}

.section-body{
	height: 1080px;
    width: 1000px;
    left: 200px;
    top: 850px;
	border-radius: [object Object]px;
	border: 1px solid #FFFFFF;
	position: absolute;
}

.first-content img{
	width: 500px;
	position: absolute;
}

.first-content p{
	height: 24px;
    width: 279px;
    left: 630px;
    top: 10px;
    font-size: 20px;
    font-style: normal;
    color:#009DCE;
	position: absolute;
	text-align: center;
}
.first-content span{
	width: 460px;
    height: 120px;
    top: 40px;
    left: 536px;
	position: absolute;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: justify;
	color: #343A40;
}

.first-content button{
	height: 34px;
    width: 120px;
    left: 700px;
    top: 176px;
	background: #FFFFFF;
	border: 1px solid #009DCE;
	box-sizing: border-box;
	border-radius: 20px;
	position: absolute;
}

.first-content button a{
	font-size: 18px;
	text-transform: uppercase;
	color: #009DCE;
}

.second-content{
	width: 500px;
	height: 200px;
	top: 246px;
	position: absolute;
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #009DCE;
	padding-top: 50px;
}

.second-content span{
	position: absolute;
    width: 460px;
    left: 0px;
    top: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #343A40;
}

.second-content button{
	position: absolute;
    width: 120px;
    height: 34px;
    left: 192px;
    top: 210px;
    background: #FFFFFF;
    border: 1px solid #009DCE;
    box-sizing: border-box;
    border-radius: 20px;
}

.second-content button a{
	font-size: 18px;
	text-transform: uppercase;
	color: #009DCE;
}

.second-content img{
	width: 500px;
    position: absolute;
    top: 0px;
    letf: 100px;
    margin-left: 249px;
}

.third-content img{
	width: 500px;
	position: absolute;
	top: 520px;
}

.third-content p{
	position: absolute;
	width: 279px;
	height: 24px;
	left: 630px;
	top: 530px;
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #009DCE;
}

.third-content span{
	width: 460px;
    height: 120px;
	left: 536px;
	top: 560px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: justify;
	color: #343A40;
	position: absolute;
}

.third-content button{
	position: absolute;
	height: 34px;
    width: 120px;
    left: 700px;
	top: 700px;
	background: #FFFFFF;
	border: 1px solid #009DCE;
	box-sizing: border-box;
	border-radius: 20px;
}

.third-content button a{
	font-size: 18px;
	text-transform: uppercase;
	color: #009DCE;
}

.fourth-content p{
	width: 500px;
	height: 200px;
	top: 810px;
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #009DCE;
	position: absolute;
}

.fourth-content span{
	width: 460px;
    left: 0px;
    top: 840px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: justify;
	color: #343A40;
	position: absolute;
}

.fourth-content button{
	position: absolute;
    width: 120px;
    height: 34px;
    left: 192px;
    top: 980px;
    background: #FFFFFF;
    border: 1px solid #009DCE;
    box-sizing: border-box;
    border-radius: 20px;
}
.fourth-content button a{
	font-size: 18px;
	text-transform: uppercase;
	color: #009DCE;
}

.fourth-content img{
	width: 500px;
    position: absolute;
    margin-left: 500px;
    padding-top: 766px;
}

.section-banner img{
	width: 1349px;
	height: 300px;
	left: 0px;
	top: 1920px;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
}

.section-logo img{
	width: 100px;
	height: 100px;
	left: 624px;
    top: 1970px;
	position: absolute;
}

.section-logo h2{
	width: 676px;
    height: 41px;
   	left: 354px;
    top: 2080px;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
}

.section-logo span{
	width: 792px;
	height: 24px;
	left: 308px;
    top: 2140px;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	position: absolute;
}

.leadership{
	width: 1349px;
	height: 500px;
    top: 2220px;
    /*background-color: red;*/
	position: absolute;
}

.leader-content{
	width: 900px;
    height: 500px;;
    left: 240px;
    top: 35px;
	position: absolute;
}

.leader-heading h2{
	width: 413px;
	height: 48px;
    left: 240px;
	font-style: normal;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: #009DCE;
	position: absolute;
}

.leader-heading img{
    width: 120px;
    height: 3px;
    left: 386px;
    top: 54px;
	background: #009DCE;
	position: absolute;
}

.about-leader img{
	width: 210px;
	padding-top: 6rem;
}

.about-leader h6{
	width: 111px;
    height: 19px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    top: 300px;
    position: absolute;
}

.about-leader span{
	width: 96px;
	height: 16px;
	font-size: 13px;
	line-height: 16px;
	top: 320px;
	padding-left: 5px;
	text-align: center;
	color: #E0E0E0;
	position: absolute;
}

.about-leader .icon_socialnetwork{
	float: right;
    top: 332px;
    padding-left: 8rem;
    color: #009DCE;
    position: absolute;
}

.ellipse img{
    width: 56px;
    height: 12px;
    left: 430px;
    top: 400px;
    position: absolute;
}

.ourclients{
	width: 1349px;
	height: 400px;
	top: 2720px;
 	background: #F3FCFF;
	position: absolute;
}

.ourclients-content{
	width: 900px;
    height: 350px;;
    left: 240px;
    top: 35px;
/*    background-color: red;*/
    position: absolute;
}

.ourclients-heading h2{
	width: 238px;
	height: 48px;
	left: 326px;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: #009DCE;
	position: absolute;
}

.ourclients-heading img{
	width: 100px;
    height: 3px;
    top: 54px;
    left: 400px;
	background: #009DCE;
	position: absolute;
}

.logo-brand img{
	width: 900px;
    height: 200px;
    top: 90px;
	position: absolute;
}

.featured-post{
	height: 800px;
	width: 1349px;
	top: 3120px;
	position: absolute;
	/*background-color: black;*/
}

.featured-content{
	width: 1000px;
    height: 550px;;
    left: 180px;
    top: 115px;
	position: absolute;
	/*background-color: black;*/
}

.featured-heading h2{
	width: 317px;
	height: 48px;
	left:540px;
    top: 20px;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: #009DCE;
	position: absolute;
}

.featured-heading img{
	width: 100px;
    height: 3px;
    top: 70px;
    left: 650px;
    position: absolute;
}

.post{
	width: 310px;
	height: 525px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.post img{
	width: 310px;
	background-color: #FFFFFF;
	border-radius: 10px 10px 0px 0px;
}

.post h3{
	position: absolute;
	width: 297px;
	height: 52px;	
	font-size: 22px;
	line-height: 26px;
	color: #1F1F1F;
	padding-left: 1rem;
	text-transform: none;
}

.post-user{
	width: 168px;
	height: 29px;
	position: absolute;
	padding-top: 100px;
}

.post-user i{
	height: 6px;
	width: 6px;
	border-radius: 0px;
	color: #009DCE;
	padding-left: 1rem;
	position: absolute;
}

.post-user p{
	height: 19px;
	width: 180px;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	color: #1F1F1F;
	padding-left: 3rem;
	position: absolute;
}

.post-user img{
	width: 71px;
	height: 1px;
	color: #009DCE;
	padding-left: 1rem;
	top:130px; 
	position: absolute;
}

.post-user span{
	width: 304px;
	height: 95px;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	padding-left: 1rem;
	top: 160px;
	color: #1F1F1F;
	position: absolute;
}

.post-detail{
	width: 200px;
	top: 480px;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	padding-left: 1rem;
	position: absolute;
}

.post-detail i{
	height: 9px;
	width: 10px;
	padding-left: 5px;
	color: #009DCE;
}


.angle-left{
	width: 39px;
	height: 19.5px;
	top: 210px;
	padding-left: 0px;
	position: absolute;
}

.angle-right{
    width: 39px;
    height: 19.5px;
    top: 212px;
    left: 984px;
	position: absolute;
}

.viewmore{
	width: 123px;
	height: 29px;
	padding-top: 30px;
    left: 432px;
	font-size: 24px;
	line-height: 29px;
	color: #009DCE;
	text-align: center;
	position: absolute;
}

.contact-us{
	width: 1349px;
    height: 550px;
    top: 3920px;
	position: relative;
	background-color: #F8F8F8;
}

.contact-info{
	width: 440px;
    height: 400px;
    left: 190px;
    top: 43px;
    position: absolute;
}

.contact-info p{
	width: 440px;
	font-size: 24px;
	line-height: 40px;
	color: #2D2D2D;
}

.contact-info h5{
	font-size: 24px;
	line-height: 40px;
	font-weight: 700;
	color: #009DCE;
}

.contact-info img{
	width: 420px;
    height: 280px;
    left: 388px;
    padding-top: 1rem;
}

.form-contact{
	width: 500px;
    height: 550px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 5%);
    background-color: #FFFFFF;
    position: absolute;
    right: 210px;
    top: -48px;
}

.form-heading{
	position: absolute;
	width: 136px;
	height: 50px;
}

.form-heading h4{
	width: 136px;
    height: 40px;
    left: 20px;
    top: 15px;
    font-size: 24px;
    line-height: 40px;
    color: #009DCE;
    position: absolute;
}

.form-heading img{
	width: 80px;
    height: 2px;
    left: 22px;
    top: 50px;
    position: absolute;
}

.form-input{
	width: 500px;
	height: 450px;
	position: absolute;
	padding: 22px 25px;
	top: 50px;
}

.form-input #btn_submit{
	width: 452px;
}

.footer{
	width: 1349px;
    top: 4470px;
    position: absolute;
    background-color: #007195;
}

.footer-content{
	width: 1349px;
	height: 500px;
	background-image: url(../image/image3.png);
}

.footer-logo{
    width: 900px;
    height: 130px;
    top: 40px;
    left: 290px;
    position: absolute;
}

.footer-logo img{
	width: 130px;
    height: 120px;
}
.footer-info{
	width: 1000px;
	height: 300px;
	top: 170px;
	left: 160px;
	position: absolute;
}

.info h4{
	width: 394px;
	height: 40px;
	top: 10px;
	margin-left: -25px;
	text-align: center;
	font-weight: 700;
	font-size: 26px;
	line-height: 40px;
	color: #FFFFFF;
	position: absolute;
}

.info-company {
	width: 417px;
	height: 60px;
	padding-top: 60px;
	padding-left: 20px;
}

.info-company p{
	font-size: 14px;
	width:330px;
	line-height: 30px;
	color: #FFFFFF;
}

.about-company{
	padding-top: 54px;
    padding-left: 130px;
    line-height: 40px;
}

.about-company ul li a{
	font-size: 14px;
	color: #FFFFFF;
}

.following{
	width: 231px;
    padding-top: 85px;
    margin-left: 118px;
}

.following p{
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	color: #FFFFFF;
}

.following span{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #FFFFFF;
}

.following input{
    top: 25px;
	position: relative;
}

.following button i{
	width: 15px;
	height: 12px;
	top: 215px;
    right: -15px;
	color: #009DCE;
	position: absolute;
}

.under-footer{
	width: 1349px;
	height: 50px;
	background-color: #007195;
	position: absolute;
}

.under-footer p{
	font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    padding-top: 9px;
    padding-left: 190px;
    top: 10px;
}

/**  
 * CSS RESPONSIVE TABLET
 */
@media all(max-width: 1024px){
	.header_area{
		width: 75%;
	}
}

/*@media all(max-width: 768px){
	
}*/

/*@media all(max-width: 768px) {
  
    .header_area{
		width: 20%;
	}

    [class*="col-"] {
        width: 100%;
    }
}*/